/*Universal Selectors_____________________*/

header {
  padding-top: 54px;
  border: 2px solid rgba(153, 0, 0, 0.7);
  max-width: 1268px;
}

body {
  background-image: url("../img/legal_pad.jpg");
  /*background-color: #ffffcc;*/
}

h1 {
  padding-left: 15px;
}

h2 {
  float:right;
}

h4 {
  float: left;
  padding-left: 20px;
}

p {
  text-align: justify;
  font-size: 1.2em;
  line-height: 25px;
  padding: 100px 0 0 15px;
}

span {
  font-size: 50px;
}

ol {
  padding-top: 35px;
}

ul {
  list-style-type: georgian;
  color: rgb(153, 0, 0);
  padding-left: 100px
}

li {
  font-size: 1.2em;
  line-height: 25px;
}

a {
  color: #214994;
}

footer {
  padding: 0 0 50px 40%;
}

/*Class Selectors----------------------*/

.no-bullet {
  list-style-type: none;
  font-style: oblique;
  padding-left: 25px;
}

/*Id Selectors------------------------*/

#kyle-photo {
  float: right;
  width:490px;
  height:700px;
  /*padding: 10px 0 0 0;*/
  border-radius: 3%;
}

#arrow {
  padding-top: 154px;
}

#git-link {
  padding: 15px, 0, 0, 15px;
}

#ms-poems {
  padding-left: 10px;
  border: 2px solid rgba(153, 0, 0, 0.7);
  max-width: 1283px;
}

#rather {
  padding-top: 5px;
}

#poem p {
  color: rgb(153, 0, 0);
  padding-left: 200px;
}

#poem h2 {
  padding-right: 200px;
}

#poem h3 {
  text-align: center;
  padding-top: 50px;
}

/*Media Queries -------------------------------*/

@media only screen and (max-width: 1200px){
  #arrow{
    display: none;
  }
}

@media only screen and (max-width: 1000px){
  body {
    text-align: center;
    max-width: 850px;
  }
  #kyle-photo {
    width:490px;
    height:700px;
    /*padding: 10px 0 0 0;*/
    border-radius: 3%;
  }
}
