/*Universal Selectors_____________________*/
header {
  padding-top: 54px;
  border: 2px solid rgba(255, 0, 0, 0.5);
  max-width: 1268px;
}

body {
  background-image: url("img/legal_pad.jpg");
  background-color: #ffffcc;
}

h1 {
  padding-left: 15px;
}

h2 {
  float:right;
}

h4 {
  float: left;
  padding-left: 20px;

}

p {
  background-image: url("img/paper.jpg");
  text-align: justify;
  font-size: 1.2em;
  line-height: 25px;
  padding: 100px 0 0 15px;
}

span {
  font-size: 50px;
}
ol {
  padding-top: 35px;
}

ul {
  list-style-type: georgian;
  color: rgb(153, 0, 0);
  padding-left: 100px
}

li {
  font-size: 1.2em;
  line-height: 25px;
}

footer {
  padding: 0 0 50px 40%;
}

/*Class Selectors----------------------*/

.no-bullet {
  list-style-type: none;
  font-style: oblique;
  padding-left: 25px;
}

/*Id Selectors------------------------*/

#kyle-photo {
  float: right;
  width:490px;
  height:700px;
  /*padding: 10px 0 0 0;*/
  border-radius: 3%;
}

#arrow {
  padding-top: 153px;
}

#ms-poems {
  padding-left: 10px;
  border: 2px solid rgba(255, 0, 0, 0.5);
  max-width: 1283px;
}

#rather {
  padding-top: 5px;
}

#poem p {
  color: rgb(153, 0, 0);
  padding-left: 200px;
}


#poem h2 {
  padding-right: 200px;
}

#poem h3 {
  text-align: center;
  padding-top: 50px;
}

/*Gradient border Test--------------------------------*/

/*.knockout-around {
  position: relative;
}
.knockout-around:before, .knockout-around:after {
  content: "";
  position: absolute;
}
.knockout-around:before {
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-image: -webkit-gradient(radial, right top, 10, 90% 0%, 150, from(#000), to(transparent));
  background-image: -webkit-radial-gradient(right top, 150px 230px, #000, transparent);
  background-image: -moz-radial-gradient(right top, farthest-corner, #000 0%, transparent 72%);
  z-index: -2;
}
.knockout-around:after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #a4b9ff;
  z-index: -1;
}*/
